<div style="background: ghostwhite">
<img src="assets/hp.jpg" height="800" width="1100">
  <p style="text-transform: uppercase; text-align: right; margin-top: -40%; margin-right: 10%;font-size:x-large">Come & Visit </p>
  <p style="text-align: right;margin-right: 3%;" ><b>4073 24th St. San Francisco CA 94114</b></p>
  <p style="text-align: right; margin: 5%; font-size: large">Weekdays 7:00 AM / 7:00 PM <br>
    Weekends 7:00 AM / 6:00 PM</p>
  <p style="text-align: right; margin-right: 1%"><b>28 W Portal Ave. San Francisco CA 94127 </b></p>
  <p style="text-align: right; margin: 5%; font-size: large">Weekdays 7:00 AM / 7:00 PM<br>
    Weekends 7:00 AM / 6:00 PM</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<p style="text-transform: uppercase; text-align: center; font-size: x-large">RECENT TESTIMONIALS</p>
<hr style="width: 1200px">
<div style="display: flex">
<p style="text-align: left; margin-left: 5%">Great place to chill, get away, eat some good food.<br>
  there was quick, helpful, and friendly service. Feels <br>
  similar to a cafe in Chicago I loved.<br><br>
  <b>— Courtney Arnold</b>
</p>
<p style="text-align: center; margin-left: 10%" >I can say this place does it for me. Service is <br>
  consistently above par. Bring your appetite because<br>
  portions are large.<br><br>
  <b>— Emmett Carrillo</b>
</p>
<p style="text-align: right; margin-left: 10%">My favorite place for THE BEST almond croissant and <br>
  chocolate almond croissant in SF!!! Def worth the wait!<br><br>
<b>— Virginia Griffin</b>
</p>
</div>
